<%- include("partials/header"); -%>

<h1 class="title">Welcome To My Blog!</h1>
<div class="text-center">
  <p class="fs-5 text-responsive">I think, therefore I am.</p>
  <div class="blockquote-footer">
    <cite title="Rene Descartes" class="text-responsive">René Descartes</cite>
  </div>
</div>

<p class="starting-content text-responsive mx-lg-4 px-lg-3">
  Life takes us on several journeys, of which self-discovery and self-expression are among the most fulfilling.
  As someone who is passionate about programming as well as writing, I’ve created this blog to explore and share my thoughts.
</p>
<h2 class="fs-3 section-title">Featured Posts</h2>

<div class="row pt-5 pb-5 mx-lg-4 px-3 px-lg-5">
  <% posts.forEach((post)=> { %>
    <div class="col-lg-4 pb-3 px-2">
      <div class="featured-post">
        <div class="featured-image"><a href="/posts/<%=post._id%>"><img src="<%= (post.image?.url || defaultImage) %>" alt="thumbnail"></a></div>
        <div class="featured-body">
          <p class="title-link text-truncate fs-6 my-1">
            <a href="/posts/<%=post._id%>"><%= post.title %></a>
          </p>
          <p class="opacity-60">
            <time class="relative-date" datetime="<%= post.datePosted %>">
              <%= post.datePosted.split("T")[0] %>
            </time>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
  <p class="title-link fs-5 text-center"><a href="/posts">View All Posts</a></p>
</div>

<script src="/scripts/date.js" defer></script>
<%- include("partials/footer"); -%>
