<%- include("partials/header"); -%>

  <h1 class="fs-3 section-title">Search Results</h1>
  <p class="search-meta text-muted">
    Found <span class="fw-bold"><%= posts.length %></span> results for "<span class="fst-italic"><%= query %></span>"
  </p>

  <%- include("partials/post-list"); -%>

<%- include("partials/footer"); -%>